/* 전체 영역 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
    font-family: 'Nanum Gothic';
}
a {
  color: #48D1CC;
  text-decoration: none;
}
a:hover {
  color: #BBBBBB;
  text-decoration: none;
  cursor: pointer;
}
/* 내비게이션 영역 */
.navbar-default {
  background-color: #48D1CC;
  border-color: #48D1CC;
}
.navbar-default .navbar-brand {
  color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: transparent;
  color: #BBBBBB;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #48D1CC;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #BBBBBB;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #48D1CC;
  background-color: #FFFFFF;
  text-decoration: none;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #BBBBBB;
  }
}
